/*---------------
----------reset--
---------------*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: pink;
}
/*---------------
------common----
---------------*/
.row{
    display: flex;
}
.container{
    height: calc(100vh - 90px);
}






/*-----------------
---------header---
----------------*/
header{
    position: fixed;
    text-align: right;
    padding: 15px 10px;
    right: 0px;
    left: 240px;
    background-color: rgb(8,11,18, 0.5);
}
.head-btn{
    padding: 15px 40px;
    color: white;
    background-color: rgb(8,11,18, 0);
    border: 1px solid white;
    border-radius: 30px;
}
.head-btn:hover{
    transform: scale(1.03);
}
/*------------------
------- aside--------
------------------*/
aside{
    width: 240px;
    padding: 20px;
    background-color: black;
    padding-bottom: 0px;
    position: relative;
}
.logo{
    margin-bottom: 20px;
}
.logo-small{
    display: none;
    width:25px;
}

.logo img{
    height: 40px;
}
.aside-nav{
    justify-content: space-between;
    margin-bottom: 5px;
}
.logo-nav{
    width: 25px;
}

.right-nav{
    color: #717171;
    width: 83%;
    justify-content: space-between;
    align-self: center;
}
.right-nav:hover{
    color: white;
}
.playlist h4{
    color: white;
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 0.95rem;
}
.plus{
    width: 40px;
    height: 40px;
    font-size: 24px;
    background-color: #a3a3a3;
    color: black;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.playlist h5{
    color: #717171;
    align-self: center;
    font-size: 1.0rem;
}
.add{
    margin-bottom: 15px;
}
.add:hover .plus{
    background-color: white;
}
.add:hover h5{
    color: white;
}
.new-play h5{
    margin-bottom: 15px;
}
.new-play h5:hover{
    color: white;
}
.aside-foot{
    position: absolute;
    bottom: 0;
    right: 20px;
    left: 20px;
    background-color: black;
    
}
.aside-foot h5{
    color: #717171;
}
.aside-foot hr{
    margin-bottom: 10px;
    color: #717171;
    height: 1px;
}
.profile{
    margin-bottom: 5px;
}
.img-prof{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #717171;
    margin-right: 10px;
}
.img-prof img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}
.aside-foot h4{
    color: white;
    align-self: center;
}
.download{
    margin-bottom: 1px;
}
.download-icon{
    width: 20px;
    margin-right: 10px;
}
/*----------------
-------main-----
--------------*/
main{
    background-color: #141922;
    overflow-y: auto;
    width: calc(100% - 240px);
}


/*-------------
----footer-------
--------------*/
footer{
    height: 90px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}


/*---------------
------media query dell'aside*/
@media screen and (max-width:601px) {
    header{
        left: 50px;
    }
    .logo{
        display: none;
    }
    .logo-small{
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    main{
        width: calc(100% - 50px);
    }
    aside{
        width: 50px;
        padding: 10px;
        text-align: center;
    }
    .aside-nav{
        display: block;
        width: 100%;
    }
    .logo-nav{
        width: 100%;
        margin-bottom: 10px;
    }
    .right-nav{
        display: none;
    }
    .playlist{
        display: none;
    }
    .aside-foot hr{
        display: none;
    }
    .download{
        display: block;
    }
    #install{
        display: none;
    }
    .download-icon img{
        width: 20px;
        margin-left: 13px;
    }
    .img-prof {
        margin-right: 0px;
        margin-left: 7px;
    }
    .profile{
        display: block;
    }
    .profile h4{
        display: none;
    }
    .aside-foot{
        right: 0px;
        left: 0px;
        
    }
}