/*---------------
----------reset--
---------------*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/*---------------
------common----
---------------*/
.row{
    display: flex;
}
.container{
    height: calc(100vh - 90px);
}
/*-----------------
---------header---
----------------*/
header{
    position: fixed;
    text-align: right;
    padding: 15px 10px;
    right: 0px;
    left: 240px;
    background-color: rgb(8,11,18, 0.5);
    z-index: 1;
}
.head-btn{
    padding: 15px 40px;
    color: white;
    background-color: rgb(8,11,18, 0);
    border: 1px solid white;
    border-radius: 30px;
}
.head-btn:hover{
    transform: scale(1.03);
}
/*------------------
------- aside--------
------------------*/
aside{
    width: 240px;
    padding: 20px;
    background-color: black;
    padding-bottom: 0px;
    position: relative;
}
.logo{
    margin-bottom: 20px;
}
.logo-small{
    display: none;
    width:25px;
}

.logo img{
    height: 40px;
}
.aside-nav{
    justify-content: space-between;
    margin-bottom: 5px;
}
.logo-nav{
    width: 25px;
}

.right-nav{
    color: #717171;
    width: 83%;
    justify-content: space-between;
    align-self: center;
}
.right-nav:hover{
    color: white;
    cursor: pointer;
}
.playlist h4{
    color: white;
    padding-top: 15px;
    margin-bottom: 10px;
    font-size: 0.95rem;
}
.plus{
    width: 40px;
    height: 40px;
    font-size: 24px;
    background-color: #a3a3a3;
    color: black;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.playlist h5{
    color: #717171;
    align-self: center;
    font-size: 1.0rem;
}
.add{
    margin-bottom: 15px;
}
.add:hover .plus{
    background-color: white;
}
.add:hover h5{
    color: white;
    cursor: pointer;
}
.new-play h5{
    margin-bottom: 15px;
}
.new-play h5:hover{
    color: white;
    cursor: pointer;
}
.aside-foot{
    position: absolute;
    bottom: 0;
    right: 20px;
    left: 20px;
    background-color: black;
    
}
.aside-foot h5{
    color: #717171;
}
.aside-foot hr{
    margin-bottom: 10px;
    color: #717171;
    height: 1px;
}
#install:hover{
    color: white;
    cursor: pointer;
}
.profile{
    margin-bottom: 5px;
}
.img-prof{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #717171;
    margin-right: 10px;
}
.img-prof img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}
.aside-foot h4{
    color: white;
    align-self: center;
}
.download{
    margin-bottom: 1px;
    align-items: center;
}
.download-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    margin-right: 10px;
}
/*----------------
-------main-----
--------------*/
main{
    background-color: #141922;
    overflow-y: auto;
    width: calc(100% - 240px);
}
.main-nav{
    max-width:650px;
    margin: auto;
    padding-top: 90px;
}
.main-nav ul{
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}
.main-nav li{
    list-style: none;
    margin:10px;
}
.main-nav ul li a{
    color: #717171;
    text-decoration: none;
    font-size: 0.8rem;
}
.main-nav ul li a:hover {
    color: white;
}
.recently{
    color: white;
    margin-bottom: 20px;
}
.main-container{
    max-width: calc(100% - 40px);
    margin: auto;
}
.song-grid{
    max-width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.song-cover{
    position: relative;
}
.play{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: white;
    font-size: 2em;
    z-index: 1;
    height: inherit;
    display: none;
}
.song-card{
    width: calc(100%/6 - 30px);
    margin-bottom: 10px;
}
.song-cover img{
    width: 100%;
    margin-bottom: 10px;
}
.song-card h3{
    color: white;
    text-align: center;
    font-size: 0.7rem;
    margin-bottom: 5px;
}
.artist{
    color: #717171;
    font-size: 0.8rem;
    text-align: center;
}
.under-title{
    color: #717171;
    font-size: 0.8rem;
    margin-bottom: 20px;
}
.for-you{
    margin-bottom: 30px;
}
.for-you .recently{
    margin-bottom: 5px;
}
.for-me .song-card{
    margin-right: 30px;
}
.album:hover{
    filter: opacity(.5);
}
.album:hover + .play{
    display: flex;
}
.popular .recently{
    margin-bottom:5px;
}
.circle{
    border-radius: 50%;
    object-fit: cover;
}
/*-------------
----footer-------
--------------*/
footer{
    height: 90px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px 0px;
}
.player{
    justify-content: space-between;
}
.track{
    max-width: 240px;
    padding: 10px 10px;
    align-items: center;
}
.track-image{
    width: 20%;
    margin-right: 10px;
}
.track-image img{
    width: 100%;
}
.track-title{
    margin-right: 35px;
}
.track-title h3{
    width: 60%;
    font-size: 0.8rem;
    color: white;
}
.track-title .artist{
    font-size: 0.6rem;
    text-align: left;
}
.save-icon{
    font-size: 1.3rem;
    color: #717171;
    margin-right: 10px;
}
.slider{
    width: 600px;
    height: 70px;
}
.output{
    width: 240px;
    background-color: blue;
    height: 70px;
}
.time-control{
    max-width: 200px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.skip{
    list-style: none;
    align-items: center;
}
.skip li{
    font-size: 1.2rem;
    margin: 0px 10px;
    color: white;
}
.skip li:nth-child(3){
    font-size: 1.8rem;
    margin: 0px 20px;
}
.time{
    height: 13px;
    justify-content: space-between;
}
.time-control{
    margin-bottom: 10px;
}
.bar{
    width: calc(100% - 80px);
    margin: auto;
    height: 7px;
    border: none;
}
.left-bar{
    width: 20%;
    background-color: #c1c1c1;
    border-radius: 10px;
}
.right-bar{
    width:80%;
    background-color: #5a5a5a;
    border-top-right-radius:5px ;
    border-bottom-right-radius: 5px;
}
.current{
    color: white;
    font-size: 0.8rem;
    width: 30px;
}
/*---------------
------media query dell'aside*/
@media screen and (max-width:1101px){
    .song-grid{
        width: 100%;
        justify-content: left;
        flex-wrap: wrap;
    }
    .song-card{
        width: calc(100%/4 - 30px);
        margin-right: 30px;
        
    }
}    
 @media screen and (max-width:701px){
        .song-grid{
            width: 100%;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .song-card{
            width: calc(100%/2 - 10px);
            margin-right: 0px;
        }
        .for-me{
            justify-content: space-between;
        }
        .for-me .song-card{
            margin-right: 0px;
        }
         



    }

@media screen and (max-width:601px) {
    header{
        left: 50px;
    }
    .logo{
        display: none;
    }
    .logo-small{
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    main{
        width: calc(100% - 50px);
    }
    aside{
        width: 50px;
        padding: 10px;
        text-align: center;
    }
    .aside-nav{
        display: block;
        width: 100%;
    }
    .logo-nav{
        width: 100%;
        margin-bottom: 10px;
    }
    .right-nav{
        display: none;
    }
    .playlist{
        display: none;
    }
    .aside-foot hr{
        display: none;
    }
    .download{
        display: block;
    }
    #install{
        display: none;
    }
    .download-icon img{
        width: 20px;
        margin-left: 13px;
    }
    .img-prof {
        margin-right: 0px;
        margin-left: 7px;
    }
    .profile{
        display: block;
    }
    .profile h4{
        display: none;
    }
    .aside-foot{
        right: 0px;
        left: 0px;
        
    }
}